<h1>Calculations</h1>
<p>This is the page where the user can introduce the numbers for performing the sum.</p>

<%= simple_form_for :numbers, url: history_path, method: :get do |f| %>
  <%= f.input :number1, label: 'Number:' %>
  <%= f.input :number2, label: 'Number:' %>

  <%= f.button :submit, 'Calculate' %>
<% end %>
