<div class="container mt-5">

<h1>Suma</h1>

<% if @result.present? %>
  <p> El resultado es <%= @result %>.</p>
<% end %>

<% if @previous_results %>
<h3>Mis resultados anteriores:</h3>
<% @previous_results.each do |result| %>
  <p> El resultado ha sido <%= result %>.</p>
<% end %>
<% end %>

<%= link_to "Calcular", calc_path, class: "btn btn-primary" %>

<%= link_to "Página de incio", root_path, class: "btn btn-danger" %>

</div>
