<div class="container mt-5">

<h1>Histórico de las sumas</h1>
<p>Aquí es donde puedes ver todas las sumas que has realizado:</p>

<% if @result.present? %>
  <p> El resultado es <%= @result %>.</p>
<% end %>

<% if @previous_results %>
<h2>Mis resultados anteriores:</h2>
<% @previous_results.each do |result| %>
  <p> El resultado ha sido <%= result %>.</p>
<% end %>
<% end %>

<%= link_to "Calcular", calc_path, class: "btn btn-primary" %>
