<div class="container mt-5">

<h1>Histórico de las sumas</h1>
<p>Aquí es donde puedes ver todas las sumas que has realizado:</p>

<% if @result.present? %>
  <p> El resultado es <%= @result %>.</p>
<% end %>

</div>
