<div class="container mt-5">

<h1>Prueba Sanz Clima</h1>
<p>Muy buenas! Esta es la páina de inicio, desde aquí viaja para hacer la suma de los números o mirar tus cálculos anteriores.</p>
<p>Un saludo muy cordial,</p>
<a href="https://gabrielmr.com" target="_blank">Gabriel</a>.
<br>
<br>

<button><%= link_to "Calculate", calc_path %></button>
<button><%= link_to "Check Your Previous Calculations", history_path %></button>

</div>
