<div class="container mt-5">

<h1>Prueba Sanz Clima</h1>
<p>Muy buenas! Esta es la páina de inicio, desde aquí viaja para hacer la suma de los números o mirar tus cálculos anteriores.</p>
<p>Un saludo muy cordial,</p>
<a href="https://gabrielmr.com" target="_blank">Gabriel</a>.
<br>
<br>

<%= link_to "Calcula", calc_path, class: "btn btn-primary" %>
<%= link_to "Mira tus cálculos anteriores", history_path, class: "btn btn-primary" %>

</div>
